@using Next.WorkFlow.Utility
@{
	string FlowID = Request.QueryString["flowid"];
	string StepID = Request.QueryString["stepid"];
	string GroupID = Request.QueryString["groupid"];
	string TaskID = Request.QueryString["taskid"];
	string InstanceID = Request.QueryString["instanceid"];
	string DisplayModel = Request.QueryString["display"] ?? "0";
	string DBConnID = "2953af3a-866b-4544-91f7-2939e47ff2d2";
	string DBTable = "Approval";
	string DBTablePK = "ID";
	string DBTableTitle = "TargetName";
if(InstanceID.IsNullOrEmpty()){InstanceID = Request.QueryString["instanceid1"];}	Next.WorkFlow.BLL.DictBLL BDictionary = new Next.WorkFlow.BLL.DictBLL();
	Next.WorkFlow.BLL.WorkFlowInfoBLL BWorkFlow = new Next.WorkFlow.BLL.WorkFlowInfoBLL();
	Next.WorkFlow.BLL.WorkFlowTaskBLL BWorkFlowTask = new Next.WorkFlow.BLL.WorkFlowTaskBLL();
	string fieldStatus = BWorkFlow.GetFieldStatus(FlowID, StepID);
	LitJson.JsonData initData = BWorkFlow.GetFormData(DBConnID, DBTable, DBTablePK, InstanceID, fieldStatus);
	string TaskTitle = BWorkFlow.GetFromFieldData(initData, DBTable, DBTableTitle);
}
<link href="~/Assets/WorkFlow/Scripts/FlowRun/Forms/flowform.css" rel="stylesheet" type="text/css" />
<script src="~/Assets/WorkFlow/Scripts/FlowRun/Forms/common.js" type="text/javascript" ></script>
<input type="hidden" id="Form_ValidateAlertType" name="Form_ValidateAlertType" value="1" />
<input type="hidden" id="Form_TitleField" name="Form_TitleField" value="Approval.TargetName" />
<input type="hidden" id="Form_DBConnID" name="Form_DBConnID" value="2953af3a-866b-4544-91f7-2939e47ff2d2" />
<input type="hidden" id="Form_DBTable" name="Form_DBTable" value="Approval" />
<input type="hidden" id="Form_DBTablePk" name="Form_DBTablePk" value="ID" />
<input type="hidden" id="Form_DBTableTitle" name="Form_DBTableTitle" value="TargetName" />
<input type="hidden" id="Form_AutoSaveData" name="Form_AutoSaveData" value="1" />
<script type="text/javascript">
	var initData = @Html.Raw(BWorkFlow.GetFormDataJsonString(initData));
	var fieldStatus = "1"=="@Request.QueryString["isreadonly"]" ? {} : @Html.Raw(fieldStatus);
	var displayModel = '@DisplayModel';
	$(window).load(function (){
		formrun.initData(initData, "Approval", fieldStatus, displayModel);
	});
</script>
<p>
    <br/>
</p>
<p>
    <br/>
</p>
<p style="text-align: center;">
    <span style="font-size: 22px; color: rgb(79, 129, 189);">
        重要信访拟办单（检举控告）
    </span>
</p>
<table data-sort="sortDisabled" class="flowformtable" align="center" cellpadding="0" cellspacing="1">
    <tbody>
        <tr class="firstRow">
            <td valign="top" width="254">
                <br/>
            </td>
            <td colspan="3" rowspan="1" valign="top">
                <input id="Approval.TaskID" name="Approval.TaskID" isflow="1" type1="flow_hidden" value="@TaskID" type="hidden"/>
                <input id="Approval.UserID" name="Approval.UserID" isflow="1" type1="flow_hidden" value="@(new Next.Admin.BLL.UserBLL().CurrentUserID.ToString())" type="hidden"/>
                <input id="Approval.DeptID" name="Approval.DeptID" isflow="1" type1="flow_hidden" value="@(new Next.Admin.BLL.UserBLL().CurrentDeptID)" type="hidden"/>
            </td>
            <td style="word-break: break-all;" valign="top" width="254">
                日期：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mycalendar" isflow="1" type1="flow_datetime" id="Approval.FillInDate" name="Approval.FillInDate" value="@(Next.WorkFlow.Utility.DateTimeNew.LongDate)" defaultvalue="@(Next.WorkFlow.Utility.DateTimeNew.LongDate)" istime="0" daybefor="0" dayafter="0" currentmonth="0" type="text"/>
            </td>
        </tr>
        <tr>
            <td style="word-break: break-all;" valign="top" width="254">
                信访方式：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.ClueMethod" type1="flow_text" name="Approval.ClueMethod" value="" valuetype="0" type="text"/>
            </td>
            <td style="word-break: break-all;" valign="top" width="254">
                来源：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.ClueSource" type1="flow_text" name="Approval.ClueSource" value="" valuetype="0" type="text"/>
            </td>
            <td style="word-break: break-all;" valign="top" width="254">
                函号：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.LetterNumber" type1="flow_text" name="Approval.LetterNumber" value="" valuetype="0" type="text"/>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="2" style="word-break: break-all;" valign="top" width="254">
                <p>
                    被反映人姓名：
                </p>
            </td>
            <td colspan="1" rowspan="2" valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.TargetName" type1="flow_text" name="Approval.TargetName" value="" valuetype="0" type="text"/>
            </td>
            <td style="word-break: break-all;" valign="top" width="254">
                单位：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.TargetAddressAndUnit" type1="flow_text" name="Approval.TargetAddressAndUnit" value="" valuetype="0" type="text"/>
            </td>
            <td valign="top" width="254">
                <br/>
            </td>
            <td valign="top" width="254">
                <br/>
            </td>
        </tr>
        <tr>
            <td style="word-break: break-all;" valign="top" width="254">
                职务：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.TargetDuty" type1="flow_text" name="Approval.TargetDuty" value="" valuetype="0" type="text"/>
            </td>
            <td style="word-break: break-all;" valign="top" width="254">
                级别：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.TargetRank" type1="flow_text" name="Approval.TargetRank" value="" valuetype="0" type="text"/>
            </td>
        </tr>
        <tr>
            <td colspan="1" rowspan="2" style="word-break: break-all;" valign="top" width="254">
                反映人姓名：
                <br/>
            </td>
            <td colspan="1" rowspan="2" style="word-break: break-all;" valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.ReporterName" type1="flow_text" name="Approval.ReporterName" value="" valuetype="0" type="text"/>
            </td>
            <td style="word-break: break-all;" valign="top" width="254">
                单位：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.ReporterAddressAndUnit" type1="flow_text" name="Approval.ReporterAddressAndUnit" value="" valuetype="0" type="text"/>
            </td>
            <td valign="top" width="254">
                <br/>
            </td>
            <td valign="top" width="254">
                <br/>
            </td>
        </tr>
        <tr>
            <td style="word-break: break-all;" valign="top" width="254">
                职务：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.ReporterDuty" type1="flow_text" name="Approval.ReporterDuty" value="" valuetype="0" type="text"/>
            </td>
            <td style="word-break: break-all;" valign="top" width="254">
                联系方式：
                <br/>
            </td>
            <td style="word-break: break-all;" valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.ReporterPhone" type1="flow_text" name="Approval.ReporterPhone" value="" valuetype="0" type="text"/>
            </td>
        </tr>
        <tr>
            <td style="word-break: break-all;" valign="top" width="254">
                主要内容：
                <br/>
            </td>
            <td colspan="5" rowspan="1" valign="top">
                <textarea isflow="1" type1="flow_textarea" id="Approval.Content" name="Approval.Content" class="mytext" style="width:80%;height:60px">
                </textarea>
            </td>
        </tr>
        <tr>
            <td style="word-break: break-all;" valign="top" width="254">
                承办人：
                <br/>
            </td>
            <td valign="top" width="254">
                <input title="" class="mytext" isflow="1" id="Approval.UnderTaker" type1="flow_text" name="Approval.UnderTaker" value="" valuetype="0" type="text"/>
            </td>
            <td valign="top" width="254">
                <br/>
            </td>
            <td valign="top" width="254">
                <br/>
            </td>
            <td valign="top" width="254">
                <br/>
            </td>
            <td valign="top" width="254">
                <br/>
            </td>
        </tr>
        <tr>
            <td style="word-break: break-all;" valign="top" width="254">
                拟办意见：
                <br/>
            </td>
            <td colspan="5" rowspan="1" valign="top">
                <textarea isflow="1" type1="flow_textarea" id="Approval.DeviseOpinion" name="Approval.DeviseOpinion" class="mytext" style="width:80%;height:60px">
                </textarea>
            </td>
        </tr>
        <tr>
            <td style="word-break: break-all;" valign="top" width="254">
                部门意见：
                <br/>
            </td>
            <td colspan="5" rowspan="1" valign="top">
                <textarea isflow="1" type1="flow_textarea" id="Approval.DeptOpinion" name="Approval.DeptOpinion" class="mytext" style="width:80%;height:60px">
                </textarea>
            </td>
        </tr>
        <tr>
            <td style="word-break: break-all;" rowspan="1" colspan="1" valign="top">
                领导批示：
                <br/>
            </td>
            <td rowspan="1" colspan="5" valign="top">
                <textarea isflow="1" type1="flow_textarea" id="Approval.LeaderOpinion" name="Approval.LeaderOpinion" class="mytext" style="width:80%;height:60px">
                </textarea>
            </td>
        </tr>
        <tr>
            <td style="word-break: break-all;" rowspan="1" colspan="1" valign="top">
                信访编号：
                <br/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <input title="" class="mytext" isflow="1" id="Approval.ClueCode" type1="flow_text" name="Approval.ClueCode" value="" valuetype="0" type="text"/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
        </tr>
        <tr>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
            <td rowspan="1" colspan="1" valign="top">
                <br/>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br/>
</p>

