@using Next.Admin.BLL;
@using Next.WorkFlow.BLL;
@using Next.WorkFlow.Entity;
@using Next.WorkFlow.Utility;
@using System.Linq;
@{
    ViewBag.Title = "Open_List";
    UserBLL busers = new UserBLL();
    DeptBLL borg = new DeptBLL();
    Next.WorkFlow.BLL.WorkFlowInfoBLL bwf = new Next.WorkFlow.BLL.WorkFlowInfoBLL();
    string type = Request.QueryString["typeid"];
    bool typeIsNotNull = true;
    if (type == null)
    {
        typeIsNotNull = false;
        type = new DictBLL().GetIDByCode("FlowTypes").ToString();
    }
}
@model IEnumerable<Next.WorkFlow.Entity.WorkFlowInfo>

@Styles.Render("~/Assets/RoadUIStyle")
@Scripts.Render("~/Assets/RoadUIScript")
<form action="" method="post">
    @Html.AntiForgeryToken()
    <table cellpadding="0" cellspacing="1" border="0" width="99%" align="center">
        <tr>
            <td align="left" height="35">
                名称：<input type="text" class="mytext" style="width:160px;" id="flow_name" value="@ViewBag.Name" name="flow_name" />
                <input type="submit" class="mybutton" value=" 查询 " />
            </td>
        </tr>
    </table>

    <table class="listtable">
        <thead>
            <tr>
                <th width="40%">流程名称</th>
                <th width="22%">创建时间</th>
                <th width="12%">创建人</th>
                <th width="11%">状态</th>
                <th width="10%" sort="0"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flow in Model.OrderBy(p => p.Name))
            {
                /*if (!borg.GetAllUsers(flow.Manager).Exists(p => p.ID == (string)HttpContext.Current.Session["UserID"]))
                {
                    continue;
                }*/
                var result = bwf.GetAllChildsIDString(type.ToGuid());
                var flag = result.Contains(flow.Type.ToString(), StringComparison.CurrentCultureIgnoreCase);
                if (typeIsNotNull && !flag)
                {
                    continue;
                }
                <tr>
                    <td>@flow.Name</td>
                    <td>@flow.CreateDate.ToDateTimeStringS()</td>
                    <td>@busers.FindByID(flow.CreateUserID).FullName</td>
                    <td>@bwf.GetStatusTitle(flow.Status)</td>
                    <td>
                        <a href="javascript:void(0);" onclick="openflow('@flow.ID');return false;">
                            <img src="@Url.Content("/assets/workflow/Images/ico/folder_classic_opened.png")" alt="" style="vertical-align:middle; border:0;" />
                            <span style="vertical-align:middle;">打开</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>
<script type="text/javascript">
    var frame = null;
    var openerid = '@Request.QueryString["openerid"]';
    $(function () {
        //var dataGrid = new RoadUI.Grid({ table: $(".mygrid"), showpager: false, height:350 });
        var iframes = top.frames;
        for (var i = 0; i < iframes.length; i++) {
            if (iframes[i].name == openerid + "_iframe") {
                frame = iframes[i]; break;
            }
        }
        if (frame == null) return;

    });
    function typechange(type) {

    }
    function openflow(id) {
        frame.openFlow1(id);
        new RoadUI.Window().close();
    }
</script>
